.container {
  margin: 5vh auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 1em;
  display: flex;
}

form.ui.form {
  justify-content: center;
  align-items: center;
  margin: 30% auto;
}

div.ui.segment {
  height: 100%;
  overflow: unset;
}

a {
  padding: 0.5em;
  padding-left: 0;
  color: black !important;
}


