div.ui.divided.middle.aligned.list.notificationsList {
  padding: 0 10px;
}

div.right.floated.content.confirm {
  margin-right: 0.5em !important;
  float: none;
}

div.left.floated.content {
  margin-top: 7px !important;
}
