.container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 1em;
}

a {
  align-self: start;
}

div[role=listitem] {
  text-align: right;
  padding-right: 1em;
  overflow-y: scroll;
}
